@import "../common/_variables";
@import "../common/_mixins";

/*======================================*/
/*----------- COMMON STYLES ------------*/
/*======================================*/
.d_none {
  display: none;
}
.of_hidden {
  overflow: hidden;
}
.hidden_text {
  @include hiddenText;
}
.hidden_text_important {
  @include hiddenTextImportant;
}
.line1_text {
  @include line1Text;
}
.line2_text {
  @include line2Text;
}

/* Width & Margin & Padding & Border */
.w_full {
  width: 100%;
}
.mt_16 {
  margin-top: 16px;
}
.mt_24 {
  margin-top: 24px;
}
.mt_32 {
  margin-top: 32px;
}
.py_60 {
  padding: 60px 0;
}
.pt_24 {
  padding-top: 24px;
}
.pt_32 {
  padding-top: 32px;
}
.pt_40 {
  padding-top: 40px;
}
.pb_52 {
  padding-bottom: 52px;
}
.pb_80 {
  padding-bottom: 80px;
}
.border_top {
  border-top: 1px solid $color_gray_e;
}

/* Input, Textarea, Select, Label */
.input,
.textarea {
  @include fontStyle(16px, $color_gray_1d, 500);
  position: relative;
  width: 100%;
  border: 1px solid $color_gray_d8;
  border-radius: 4px;

  &::placeholder {
    color: $color_gray_71;
  }
  &:disabled {
    background-color: $color_gray_f8;
  }
  &:not(.error):focus {
    border-color: $color_key_01;
    outline: 1px solid $color_key_01;
  }
  &.error {
    border-color: $color_red;
    outline: 1px solid $color_red;
  }
}
.input {
  height: 52px;
  padding: 0 16px;
}
.textarea {
  height: 200px;
  padding: 16px;
  resize: none;
}
.select {
  @include fontStyle(16px, $color_gray_1d, 500);
  height: 52px;
  padding: 0 40px 0 16px;
  border: 1px solid $color_gray_d8;
  border-radius: 4px;
  background: $color_white url("../images/icon_select.svg") no-repeat right 16px
    center;
  appearance: none;
}
.label {
  @include fontStyle(14px, $color_gray_1d, 500);
  display: block;
}
.label_tit {
  @include fontStyle(18px, $color_gray_1d, 700);
  display: block;
  margin-bottom: 4px;
}

.select_custom {
  position: relative;
  z-index: 10;

  button {
    @include fontStyle(16px, $color_gray_1d, 500);
    position: relative;
    width: 100%;
    height: 52px;
    padding: 0 40px 0 16px;
    border: 1px solid $color_gray_d8;
    border-radius: 4px;
    text-align: left;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 8px);
      right: 16px;
      display: block;
      width: 16px;
      height: 16px;
      background: url("../images/icon_select.svg") no-repeat center / contain;
      transition: all 0.3s;
    }
    &:disabled {
      background-color: $color_gray_f8;
    }
    &:focus {
      border-color: $color_key_01;
      outline: 1px solid $color_key_01;
    }
  }

  ul {
    display: none;
  }

  &.active {
    button::before {
      transform: rotate(180deg);
    }
    ul {
      position: absolute;
      top: calc(100% - 4px);
      left: 0;
      display: block;
      width: 100%;
      padding-top: 3px;
      border: 1px solid $color_gray_d8;
      border-top: 0;
      border-radius: 0 0 4px 4px;
      background-color: $color_white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
      li {
        padding: 12px 16px;
        cursor: pointer;
        &:not(:first-of-type) {
          border-top: 1px solid $color_gray_d8;
        }
      }
    }
    &.top ul {
      top: auto;
      bottom: calc(100% - 4px);
      padding: 0;
      padding-bottom: 3px;
      border: 1px solid $color_gray_d8;
      border-bottom: 0;
      border-radius: 4px 4px 0 0;
    }
  }
}
.chk_custom {
  input {
    @include hiddenInput;
    &:checked + label {
      border-color: $color_key_01;
      background-color: $color_key_03;
      background-image: url("../images/icon_check_blue.svg");
      color: $color_gray_1d;
      font-weight: 700;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $color_key_01;
        border-radius: 3px;
      }
    }
    &:focus + label {
      outline: 2px solid $color_black;
    }
  }
  label {
    @include flexLayout(center, flex-start);
    @include fontStyle(16px, $color_gray_5, 500);
    position: relative;
    height: 52px;
    padding: 0 40px 0 16px;
    border: 1px solid $color_gray_d8;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background: $color_white url("../images/icon_check_gray.svg") no-repeat
      right 16px center;
  }
}
.chk_custom02 {
  input {
    @include hiddenInput;
    &:checked + label {
      border-color: $color_key_01;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $color_key_01;
        border-radius: 3px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 8px;
        right: 8px;
        display: block;
        width: 20px;
        height: 20px;
        background: url("../images/icon_check_blue.svg") no-repeat center /
          contain;
      }
      span {
        color: $color_gray_1d;
        font-weight: 700;
      }
    }
    &:focus + label {
      outline: 2px solid $color_black;
    }
  }
  label {
    @include flexLayout(center, center, 4px, nowrap, column);
    position: relative;
    height: 100px;
    border: 1px solid $color_gray_d8;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    img {
      width: 48px;
    }
    span {
      @include fontStyle(16px, $color_gray_71, 500);
      display: block;
    }
  }
}

.input_pw_area {
  position: relative;
  .input {
    padding-right: 52px;
  }
  button {
    position: absolute;
    top: calc(50% - 10px);
    right: 16px;
    display: block;
    width: 20px;
    height: 20px;
    background: url("../images/icon_eye_off.svg") no-repeat center / contain;
    span {
      @include hiddenText;
    }
    &.on {
      background-image: url("../images/icon_eye_on.svg");
    }
  }
}

.input_list_area {
  @include flexLayout(stretch, center, 0, nowrap, column);
  &.gap_24 {
    gap: 24px;
  }
  &.gap_40 {
    gap: 40px;
  }
}
.chk_list_area {
  &.grid02 {
    @include flexLayout(center, flex-start, 12px, wrap);
    & > * {
      width: calc(50% - 6px);
    }
  }
  &.grid03 {
    @include flexLayout(center, flex-start, 14px, wrap);
    & > * {
      width: calc((100% - 14px * 2) / 3);
    }
  }
}
.label_input_area {
  @include flexLayout(stretch, center, 8px, nowrap, column);
}

/* Button */
.btn {
  @include flexLayout(center, center, 4px);
  border-radius: 4px;
  font-weight: 700;

  i.arrow {
    @include initBackground;
    display: block;
    width: 16px;
    height: 16px;
    background-size: contain;
  }
  &.btn_size_40 {
    height: 40px;
    font-size: 14px;
  }
  &.btn_size_52 {
    height: 52px;
    font-size: 16px;
  }
  &.btn_style01 {
    border: 1px solid $color_gray_1d;
    background-color: $color_gray_1d;
    color: $color_white;
    &:disabled {
      border-color: $color_gray_c6;
      background-color: $color_gray_c6;
      color: $color_white;
    }
  }
  &.btn_style02 {
    border: 1px solid $color_gray_8e;
    background-color: $color_white;
    color: $color_gray_1d;
  }
  &.btn_style03 {
    border: 1px solid $color_gray_d8;
    background-color: $color_white;
    color: $color_gray_1d;
    .arrow {
      background-image: url("../images/main/icon_arrow_gray.svg");
    }
  }
}

/* Tab */
.tab_area {
  background-color: $color_white;
  .swiper-slide {
    width: auto;
  }
  &.tab_style01 {
    ul {
      li {
        button {
          @include flexLayout(center, center);
          @include fontStyle(14px, $color_gray_5, 500);
          height: 33px;
          padding: 0 10px;
          border: 1px solid $color_gray_d8;
          border-radius: 4px;
          background-color: $color_white;
        }
        &.on button {
          border-color: $color_gray_1d;
          background-color: $color_gray_1d;
          color: $color_white;
        }
      }
    }
    &:not(.tab_slider, .tab_slider02) ul {
      @include flexLayout(center, flex-start, 8px);
    }
  }
  &.tab_style02 {
    position: relative;
    padding: 0 16px;
    border-bottom: 8px solid $color_gray_f8;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color_gray_e;
    }
    ul {
      @include flexLayout(stretch, flex-start);
      li {
        button {
          @include flexLayout(center, center);
          @include fontStyle(16px, $color_gray_71, 500);
          height: 52px;
          padding: 0 8px;
          border-bottom: 2px solid transparent;
        }
        &.on button {
          border-color: $color_black;
          color: $color_gray_1d;
        }
      }
    }
  }
}

/* Img */
.img_area {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &.rect01::before {
    padding-bottom: 100%;
  }
  &.rect02::before {
    padding-bottom: 38%;
  }
}

/* List */
.list_area {
  ul li {
    position: relative;
    a {
      display: block;
    }
  }
  .heart_btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    i {
      display: block;
      width: 26px;
      height: 26px;
      background: url("../images/icon_heart_off.svg") no-repeat center / contain;
    }
    &.on i {
      background-image: url("../images/icon_heart_on.svg");
    }
  }
  .img_area {
    border-radius: 4px;
  }
  &.list_style01,
  &.list_style02 {
    .text_area {
      .cate {
        @include fontStyle(14px, $color_gray_8e, 700);
        display: block;
        margin-bottom: 4px;
      }
      .tit {
        @include fontStyle(16px, $color_gray_1d, 500);
        @include line2Text;
      }
      .price_text {
        @include flexLayout(center, flex-start, 4px);
        margin-top: 6px;
        .percent {
          @include fontStyle(14px, $color_key_01, 700);
        }
        .price {
          @include fontStyle(16px, $color_gray_1d, 700);
        }
      }
    }
  }
  &.list_style01 {
    .heart_btn {
      padding: 10px;
    }
    .text_area {
      margin-top: 16px;
    }
    &:not(.prod_slider) ul {
      @include flexLayout(stretch, flex-start, 40px 12px, wrap);
      li {
        width: calc(50% - 6px);
      }
    }
  }
  &.list_style02 {
    ul li {
      @include flexLayout(center, center, 16px);
      a {
        @include flexLayout(center, center, 16px);
        width: 100%;
      }
      .heart_btn {
        right: auto;
        left: 58px;
        padding: 8px;
      }
      .img_area {
        width: 100px;
      }
      .text_area {
        flex: 1;
      }
      & + li {
        margin-top: 24px;
      }
    }
  }
  &.list_style03 ul {
    @include flexLayout(center, center, 32px 0, wrap);
    li {
      width: calc(100% / 3);
      text-align: center;
      a {
        display: inline-block;
      }
      .img_area {
        width: 72px;
        margin: 0 auto;
      }
      .text_area {
        margin-top: 12px;
        text-align: center;
        p {
          @include fontStyle(16px, $color_gray_1d, 700);
        }
        span {
          @include fontStyle(14px, $color_gray_71, 500);
          display: block;
          margin-top: 4px;
        }
      }
    }
  }
}

/* No Data */
.no_data_area {
  text-align: center;
  i {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto 16px;
    background: url("../images/icon_nodata.svg") no-repeat center / contain;
  }
  span {
    @include fontStyle(16px, $color_gray_8e, 500);
    display: block;
  }
}

/* Error Msg */
.error_msg {
  @include fontStyle(13px, $color_red, 500);
  position: relative;
  padding-left: 22px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: url("../images/icon_error.svg") no-repeat center / contain;
  }
}
