@import "../common/_variables";
@import "../common/_mixins";

/*======================================*/
/*----------- COMMON STYLES ------------*/
/*======================================*/
/* Button */
.btn {
  @include flexLayout(center, center);
  border-radius: 4px;
  font-weight: 700;

  &.btn_size_52 {
    height: 52px;
    font-size: 16px;
  }
  &.btn_style01 {
    border: 1px solid $color_gray_1d;
    background-color: $color_gray_1d;
    color: $color_white;
    &:disabled {
      border-color: $color_gray_c6;
      background-color: $color_gray_c6;
      color: $color_white;
    }
  }
  &.btn_style02 {
    border: 1px solid $color_gray_8e;
    background-color: $color_white;
    color: $color_gray_1d;
  }
}

/* Input */
.input,
.textarea {
  @include fontStyle(16px, $color_gray_1d, 500);
  position: relative;
  width: 100%;
  border: 1px solid $color_gray_d8;
  border-radius: 4px;

  &::placeholder {
    color: $color_gray_71;
  }
  &:disabled {
    background-color: $color_gray_f8;
  }
  &:focus {
    border-color: $color_key_01;
    outline: 1px solid $color_key_01;
  }
  &.error {
    border-color: $color_red;
    outline: 1px solid $color_red;
  }
}
.input {
  height: 52px;
  padding: 0 16px;
}
.textarea {
  height: 200px;
  padding: 16px;
  resize: none;
}
