@import "../common/_variables";
@import "../common/_mixins";

/*======================================*/
/*----------- COMMON LAYOUTS -----------*/
/*======================================*/
.inner {
  width: 100%;
  max-width: calc(100% - 32px);
  margin: 0 auto;
}
#root_layout {
  @include flexLayout(flex-start, center);
  background: $color_gray_f0;

  .root_container {
    display: block;
    width: 480px;
    max-width: 100vw;
    min-height: 100vh;
    background: $color_white;
  }
}
.sticky_menu {
  position: sticky;
  top: 0;
  z-index: $z_sticky_menu;
}

/*===== HEADER =====*/
#skip_nav {
  position: absolute;
  top: -10000px;
  left: 0;
  display: block;
  width: 100%;
  height: 0;
  font-size: 16px;
  text-align: center;
  z-index: $z_skip_nav;
  &:focus {
    @include flexLayout(center, center);
    top: 0;
    height: $height_header;
    background: $color_gray_5;
    font-weight: bold;
    color: $color_white;
  }
}

/*===== HEADER =====*/
#header {
  display: none;
  width: 100%;
  border-bottom: 1px solid $color_gray_e;
  background-color: $color_white;

  &.hd_bg02 {
    border-bottom: 0;
    background-color: $color_black;
  }

  .inner {
    @include flexLayout(center, space-between, 12px);
    height: $height_header;
  }
  h1 {
    @include fontStyle(18px, $color_gray_1d, 700);
  }
  .hd_flex {
    @include flexLayout(center, center, 12px);
  }
  .hd_search {
    position: relative;
    flex: 1;
    label {
      @include hiddenText;
    }
    .input {
      width: 100%;
      height: 40px;
      padding: 0 76px 0 12px;
      font-size: 14px;
      &:not(:placeholder-shown) + .btns .delete_btn {
        opacity: 1;
        visibility: visible;
      }
    }
    .btns {
      @include flexLayout(center, center, 8px);
      position: absolute;
      top: calc(50% - 12px);
      right: 12px;
      .delete_btn {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

/*===== MOBILE MENU =====*/
#m_menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 480px;
  max-width: 100vw;
  min-height: 100vh;
  background-color: $color_white;
  z-index: $z_mobile_menu;
  transition: all 0.5s;
  .m_header {
    .inner {
      @include flexLayout(center, space-between, 12px);
      height: $height_header;
    }
    .m_flex {
      @include flexLayout(center, center, 12px);
      p {
        @include fontStyle(18px, $color_gray_1d, 700);
      }
    }
  }
  .gnb {
    height: calc(100vh - $height_header);
    background-color: $color_gray_f8;
    overflow-y: auto;
    ul li {
      button {
        @include flexLayout(center, flex-start);
        @include fontStyle(16px, $color_gray_1d, 500);
        width: 40%;
        padding: 0 16px;
        height: 64px;
      }
      ul.depth02 {
        position: absolute;
        top: $height_header;
        right: 0;
        display: none;
        width: 60%;
        height: calc(100% - $height_header);
        background-color: $color_white;
        li a {
          @include flexLayout(center, space-between);
          @include fontStyle(16px, $color_gray_5, 500);
          padding: 0 16px;
          height: 64px;
          &::after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background: url("../images/shared/icon_arrow.svg") no-repeat center /
              contain;
          }
        }
      }
      &.active {
        background-color: $color_white;
        button {
          position: relative;
          background-color: $color_white;
          color: $color_key_01;
          font-weight: 700;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background-color: $color_key_01;
          }
        }
        ul.depth02 {
          display: block;
        }
      }
    }
  }
  &.show {
    right: calc(50vw - 240px);
  }
}

/*===== BOTTOM NAV =====*/
#bottom_nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  max-width: 480px;
  background-color: $color_white;
  transform: translateX(-50%);
  z-index: $z_bottom_nav;
  ul {
    @include flexLayout();
    height: 64px;
    li {
      width: 25%;
      button,
      a {
        @include flexLayout(center, center, 6px, nowrap, column);
        width: 100%;
        height: 100%;
        text-align: center;

        i {
          display: block;
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          &.icon01 {
            background-image: url("../images/shared/icon_home_off.svg");
          }
          &.icon02 {
            background-image: url("../images/shared/icon_calendar_off.svg");
          }
          &.icon03 {
            background-image: url("../images/shared/icon_heart_off.svg");
          }
          &.icon04 {
            background-image: url("../images/shared/icon_mypage_off.svg");
          }
        }
        span {
          @include fontStyle(13px, $color_gray_71, 500);
          display: block;
        }
      }
      &.active {
        button,
        a {
          i {
            &.icon01 {
              background-image: url("../images/shared/icon_home_on.svg");
            }
            &.icon02 {
              background-image: url("../images/shared/icon_calendar_on.svg");
            }
            &.icon03 {
              background-image: url("../images/shared/icon_heart_on.svg");
            }
            &.icon04 {
              background-image: url("../images/shared/icon_mypage_on.svg");
            }
          }
          span {
            color: $color_gray_1d;
            font-weight: 700;
          }
        }
      }
    }
  }
}

/*===== FOOTER =====*/
#footer {
  background-color: $color_gray_1d;
  .ft_top {
    background-color: $color_black;
    ul {
      @include flexLayout(center, flex-start, 4px 24px, wrap);
      padding: 13px 0;
      li {
        button,
        a {
          @include fontStyle(14px, $color_white, 500);
          display: block;
        }
      }
    }
  }
  .ft_btm {
    padding: 32px 0 120px;
    hr {
      display: block;
      width: 100%;
      height: 1px;
      margin: 24px 0;
      border: 0;
      background-color: rgba(255, 255, 255, 0.2);
    }
    ul {
      @include flexLayout(flex-start, flex-start, 4px, nowrap, column);
      li {
        @include fontStyle(14px, $color_gray_a, 500);
        word-break: keep-all;
      }
    }
    p {
      @include fontStyle(14px, $color_gray_a, 500);
      a {
        @include fontStyle(17px, $color_white, 700);
        display: inline-block;
        margin-top: 6px;
      }
    }
    span {
      @include fontStyle(11px, $color_gray_a, 500);
      display: block;
      margin-top: 24px;
    }
  }
}

@media (max-width: 480px) {
  #m_menu.show {
    right: 0;
  }
}
