/*======================================*/
/*----------- DEFAULT STYLES -----------*/
/*======================================*/
html,
body {
  font-family: "Pretendard";
  font-size: 16px;
  color: #000;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
img {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.45;
}

ol,
ul,
dl,
dt,
dd,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

legend {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden;
}

hr {
  display: none;
}

ol,
ul,
dl,
dt,
dd {
  list-style: none;
}

label,
input,
button,
select,
img {
  vertical-align: middle;
}

button,
input,
select,
textarea,
label {
  font-family: "Pretendard";
  margin: 0;
}

button,
input[type=submit],
label {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus,
.btn:focus {
  box-shadow: none;
}

input::-webkit-input-placeholder,
input:-ms-input-placeholder {
  color: #aaa !important;
}

textarea::-webkit-input-placeholder,
textarea:-ms-input-placeholder {
  color: #9ea0b9 !important;
}

button {
  display: block;
  border: 0;
  background-color: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

button,
a,
button:hover,
a:hover {
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}

p {
  word-break: break-all;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
:after,
:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*===== FONTS =====*/
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
}
/*======================================*/
/*----------- COMMON LAYOUTS -----------*/
/*======================================*/
.inner {
  width: 100%;
  max-width: calc(100% - 32px);
  margin: 0 auto;
}

#root_layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  flex-direction: row;
  background: #f0f0f0;
}
#root_layout .root_container {
  display: block;
  width: 480px;
  max-width: 100vw;
  min-height: 100vh;
  background: #ffffff;
}

.sticky_menu {
  position: sticky;
  top: 0;
  z-index: 500;
}

/*===== HEADER =====*/
#header {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
}
#header.hd_bg02 {
  background-color: #000000;
}
#header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 56px;
}
#header h1 {
  font-size: 18px;
  color: #1d1d1d;
  font-weight: 700;
}
#header .hd_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: nowrap;
  flex-direction: row;
}
#header .hd_search {
  position: relative;
  flex: 1;
}
#header .hd_search label {
  position: absolute;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}
#header .hd_search .input {
  width: 100%;
  height: 40px;
  padding: 0 76px 0 12px;
  font-size: 14px;
}
#header .hd_search .input:not(:-moz-placeholder-shown) + .btns .delete_btn {
  opacity: 1;
  visibility: visible;
}
#header .hd_search .input:not(:placeholder-shown) + .btns .delete_btn {
  opacity: 1;
  visibility: visible;
}
#header .hd_search .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: nowrap;
  flex-direction: row;
  position: absolute;
  top: calc(50% - 12px);
  right: 12px;
}
#header .hd_search .btns .delete_btn {
  opacity: 0;
  visibility: hidden;
}

/*===== BOTTOM NAV =====*/
#bottom_nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  max-width: 480px;
  background-color: #ffffff;
  transform: translateX(-50%);
}
#bottom_nav ul {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 64px;
}
#bottom_nav ul li {
  width: 25%;
}
#bottom_nav ul li button,
#bottom_nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
}
#bottom_nav ul li button i,
#bottom_nav ul li a i {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#bottom_nav ul li button i.icon01,
#bottom_nav ul li a i.icon01 {
  background-image: url("../images/shared/icon_home_off.svg");
}
#bottom_nav ul li button i.icon02,
#bottom_nav ul li a i.icon02 {
  background-image: url("../images/shared/icon_calendar_off.svg");
}
#bottom_nav ul li button i.icon03,
#bottom_nav ul li a i.icon03 {
  background-image: url("../images/shared/icon_heart_off.svg");
}
#bottom_nav ul li button i.icon04,
#bottom_nav ul li a i.icon04 {
  background-image: url("../images/shared/icon_mypage_off.svg");
}
#bottom_nav ul li button span,
#bottom_nav ul li a span {
  font-size: 13px;
  color: #717171;
  font-weight: 500;
  display: block;
}
#bottom_nav ul li.on button i.icon01,
#bottom_nav ul li.on a i.icon01 {
  background-image: url("../images/shared/icon_home_on.svg");
}
#bottom_nav ul li.on button i.icon02,
#bottom_nav ul li.on a i.icon02 {
  background-image: url("../images/shared/icon_calendar_on.svg");
}
#bottom_nav ul li.on button i.icon03,
#bottom_nav ul li.on a i.icon03 {
  background-image: url("../images/shared/icon_heart_on.svg");
}
#bottom_nav ul li.on button i.icon04,
#bottom_nav ul li.on a i.icon04 {
  background-image: url("../images/shared/icon_mypage_on.svg");
}
#bottom_nav ul li.on button span,
#bottom_nav ul li.on a span {
  color: #1d1d1d;
  font-weight: 700;
}

/*===== FOOTER =====*/
#footer {
  background-color: #1d1d1d;
}
#footer .ft_top {
  background-color: #000000;
}
#footer .ft_top ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px 24px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 13px 0;
}
#footer .ft_top ul li button,
#footer .ft_top ul li a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  display: block;
}
#footer .ft_btm {
  padding: 32px 0 120px;
}
#footer .ft_btm hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 24px 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
#footer .ft_btm ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  flex-wrap: nowrap;
  flex-direction: column;
}
#footer .ft_btm ul li {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 500;
  word-break: keep-all;
}
#footer .ft_btm p {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 500;
}
#footer .ft_btm p a {
  font-size: 17px;
  color: #ffffff;
  font-weight: 700;
  display: inline-block;
  margin-top: 6px;
}
#footer .ft_btm span {
  font-size: 11px;
  color: #aaaaaa;
  font-weight: 500;
  display: block;
  margin-top: 24px;
}

/*======================================*/
/*----------- COMMON STYLES ------------*/
/*======================================*/
/* Button */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  flex-direction: row;
  border-radius: 4px;
  font-weight: 700;
}
.btn.btn_size_52 {
  height: 52px;
  font-size: 16px;
}
.btn.btn_style01 {
  border: 1px solid #1d1d1d;
  background-color: #1d1d1d;
  color: #ffffff;
}
.btn.btn_style01:disabled {
  border-color: #c6c6c6;
  background-color: #c6c6c6;
  color: #ffffff;
}
.btn.btn_style02 {
  border: 1px solid #8e8e8e;
  background-color: #ffffff;
  color: #1d1d1d;
}

/* Input */
.input,
.textarea {
  font-size: 16px;
  color: #1d1d1d;
  font-weight: 500;
  position: relative;
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}
.input::-moz-placeholder, .textarea::-moz-placeholder {
  color: #717171;
}
.input::placeholder,
.textarea::placeholder {
  color: #717171;
}
.input:disabled,
.textarea:disabled {
  background-color: #f8f8f8;
}
.input:focus,
.textarea:focus {
  border-color: #475ed9;
  outline: 1px solid #475ed9;
}
.input.error,
.textarea.error {
  border-color: #dd083e;
  outline: 1px solid #dd083e;
}

.input {
  height: 52px;
  padding: 0 16px;
}

.textarea {
  height: 200px;
  padding: 16px;
  resize: none;
}

/*======================================*/
/*------------ ERROR PAGES -------------*/
/*======================================*/
.error_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.error_wrap img {
  margin: 0 auto;
}
.error_wrap h1 {
  font-size: 22px;
  color: #1d1d1d;
  font-weight: 700;
  margin-top: 16px;
}
.error_wrap p {
  font-size: 16px;
  color: #555555;
  font-weight: 500;
  margin-top: 16px;
}
.error_wrap .btn {
  margin-top: 40px;
}