@import "../common/_variables";
@import "../common/_mixins";

/*======================================*/
/*------------ LOGIN PAGES -------------*/
/*======================================*/
.login_btns_area {
  @include flexLayout(center, center, 16px);
  margin-top: 24px;
  a {
    @include fontStyle(14px, $color_gray_71, 500);
    position: relative;
    display: block;
  }
  i {
    display: block;
    width: 1px;
    height: 12px;
    background-color: $color_gray_d8;
  }
}
.login_sns_area {
  margin-top: 40px;
  .tit {
    position: relative;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color_gray_e;
    }
    p {
      @include fontStyle(14px, $color_gray_1d, 500);
      position: relative;
      display: inline-block;
      padding: 0 16px;
      background-color: $color_white;
    }
  }
  .btns {
    @include flexLayout(center, center, 16px);
    margin-top: 24px;
    button img {
      width: 48px;
    }
  }
}

/*======================================*/
/*------------ JOIN PAGES --------------*/
/*======================================*/
.identity_btn {
  @include flexLayout(center, flex-start, 12px);
  width: 100%;
  height: 88px;
  padding: 0 32px 0 16px;
  border-radius: 4px;
  background: url("../images/icon_identity_arrow.svg") no-repeat right 16px
    center / 16px;
  text-align: left;

  &.type01 {
    border: 1px solid $color_gray_8e;
    background-color: $color_white;
    i {
      display: block;
      width: 48px;
      height: 48px;
      background: url("../images/icon_identity01.png") no-repeat center /
        contain;
    }
    span {
      @include fontStyle(14px, $color_gray_5, 500);
      display: block;
      flex: 1;
      b {
        @include fontStyle(16px, $color_gray_1d, 700);
        display: block;
        margin-bottom: 8px;
      }
    }
  }
  &.type02 {
    border: 1px solid $color_key_05;
    background-color: $color_key_03;
    i {
      display: block;
      width: 48px;
      height: 48px;
      background: url("../images/icon_identity02.png") no-repeat center /
        contain;
    }
    span {
      @include fontStyle(16px, $color_gray_1d, 700);
    }
  }
}

.join_tit_area {
  padding: 32px 0;
  background-color: $color_gray_f8;
  text-align: center;
  h2 {
    @include fontStyle(22px, $color_gray_1d, 700);
  }
  p {
    @include fontStyle(16px, $color_gray_5, 500);
    margin-top: 16px;
  }
}
